GroupsHusbyLarge.prj
GroupsHusbyLarge.dbf
GroupsHusbyLarge.shp
Final_Centroids.dbf
Final_Centroids.prj
Final_Centroids.shp
Final_Centroids_Husby.shp
Final_Centroids_Husby.shx
GroupsHusby.shp
Final_Centroids.shx
Final_Centroids_Husby.dbf
Final_Centroids_Husby.prj
GroupsHusby.shx
GroupsHusby.dbf
GroupsHusby.prj
GroupsHusbyLarge.shx
HusbyRaster.rds
Husby_centroids.shp
Husby_Monitor.dbf
Husby_Monitor.prj
Husby_Monitor.shp
Husby_klit.csv
Husby_Monitor.shx
Husby_centroids.dbf
Husby_centroids.shx
Husby_centroids.prj
MonitoringPointsHusby.dbf
MonitoringPointsHusby.gpx
MonitoringPointsHusby.prj
MonitoringPointsHusby.shp
MonitoringPointsHusby.shx
husby_klit_sample.dbf
Final_ones_out.husby.rds
TreatmentsHusby.gpx
